<form>
  <textarea rows="10" cols="33">
#sidebar {
  border: 5px solid rebeccapurple;
  padding: 0.5rem;
}
    </textarea>
  <button type="button" data-action="create">
    <span>{{localize "FORM.submit"}} <i class="fa-solid fa-pen-to-square"></i></span>
  </button>
</form>
