.custom-styles-user-button {
  background: transparent;
  padding: 0;
  color: white;
  line-height: normal;
  border: 0;
  flex-grow: 0;
}

.custom-styles-user-button > i {
  margin-right: 0;
}

.custom-styles-user-button:hover,
.custom-styles-user-button:focus {
  box-shadow: none;
  text-shadow: 0 0 5px #b943c1;
}
